@model DeliveryApp.Web.Models.Product
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ Layout = "_Layout"; }
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Snow Bootstrap Website Template | Single :: w3layouts</title>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
    <!----details-product-slider--->
    <!-- Include the Etalage files -->
    <link rel="stylesheet" href="~/css/etalage.css">
    <script src="~/js/jquery.etalage.min.js"></script>
    <!-- Include the Etalage files -->
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,

                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });
            // This is for the dropdown list example:
            $('.dropdownlist').change(function () {
                etalage_show($(this).find('option:selected').attr('class'));
            });

        });
    </script>
    <!----//details-product-slider--->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
</head>
<body>
    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 single_left">
                        <div class="single_image">
                            <ul id="etalage">
                                <li>
                                    <a href="optionallink.html">
                                        <img class="etalage_thumb_image" src="@Model.Data.PictureUrl" />
                                        <img class="etalage_source_image" src="@Model.Data.PictureUrl" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- end product_slider -->
                        <div class="single_right">
                            <h3>@Model.Data.Name</h3>
                            <p class="m_10">@Model.Data.Description</p>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="col-md-3" style="position:relative; bottom:465px;left:720px">
                    <div class="box-info-product">
                        <form asp-controller="Basket" asp-action="Update" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="Id" value="@Model.Data.Id" />
                            <input type="hidden" name="Name" value="@Model.Data.Name" />
                            <input type="hidden" name="Price" value="@Model.Data.Price" />
                            <input type="hidden" name="PictureUrl" value="@Model.Data.PictureUrl" />
                            <input type="hidden" name="ProductBrand" value="@Model.Data.ProductBrand" />
                            <input type="hidden" name="ProductType" value="@Model.Data.ProductType" />

                            <p class="price2">@Model.Data.Price&#x20BA</p>
                            <ul class="prosuct-qty">
                                <span>Quantity:</span>
                                <select name="Quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </ul>
                            <button type="submit" name="Submit" class="exclusive">
                                <span>Add to cart</span>
                            </button>
                        </form>
                    </div>
                </div>
                @{
                    if (HttpContextAccessor.HttpContext.Request
                    .Cookies["DeliveryApp"] != null)
                    {
                        <div class="row">
                            <div class="col-md-12 contact">
                                <form asp-controller="Comment" asp-action="Add" method="post">
                                    <div class="text">
                                        <input type="hidden" value="@Model.Data.Id" name="ProductId" />
                                        <textarea name="Text" value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
                                        <div class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Submit"><br>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    }
                }
            </div>
  

            <div class="row">
                <h4 class="m_11">Related Products in the same Category</h4>
                <div class="col-md-4 product1">
                    <img src="images/s1.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 product1">
                    <img src="images/s2.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="images/s3.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>