@model DeliveryApp.Web.Models.Product
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ Layout = "_Layout"; }
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Snow Bootstrap Website Template | Single :: w3layouts</title>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
    <!----details-product-slider--->
    <!-- Include the Etalage files -->
    <link rel="stylesheet" href="~/css/etalage.css">
    <script src="~/js/jquery.etalage.min.js"></script>
    <!-- Include the Etalage files -->
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,

                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });
            // This is for the dropdown list example:
            $('.dropdownlist').change(function () {
                etalage_show($(this).find('option:selected').attr('class'));
            });

        });
    </script>
    <!----//details-product-slider--->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
    <style>
        hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}
    </style>
</head>
<body>
    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 single_left">
                        <div class="single_image">
                            <ul id="etalage">
                                <li>
                                    <a href="optionallink.html">
                                        <img class="etalage_thumb_image" src="@Model.Data.PictureUrl" />
                                        <img class="etalage_source_image" src="@Model.Data.PictureUrl" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- end product_slider -->
                        <div class="single_right">
                            <h3>@Model.Data.Name</h3>
                            <p class="m_10">@Model.Data.Description</p>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="col-md-3" style="position:relative; bottom:465px;left:720px">
                    <div class="box-info-product">
                        <form asp-controller="Basket" asp-action="Add" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="Id" value="@Model.Data.Id" />
                            <input type="hidden" name="Name" value="@Model.Data.Name" />
                            <input type="hidden" name="Price" value="@Model.Data.Price" />
                            <input type="hidden" name="PictureUrl" value="@Model.Data.PictureUrl" />
                            <input type="hidden" name="ProductBrand" value="@Model.Data.ProductBrand" />
                            <input type="hidden" name="ProductType" value="@Model.Data.ProductType" />

                            <p class="price2">@Model.Data.Price&#x20BA</p>
                            <ul class="prosuct-qty">
                                <span>Quantity:</span>
                                <select name="Quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </ul>
                            <button type="submit" name="Submit" class="exclusive">
                                <span>Add to cart</span>
                            </button>
                        </form>
                    </div>
                </div>
                @{
                    if (HttpContextAccessor.HttpContext.Request
                    .Cookies["DeliveryApp"] != null)
                    {
                        <div class="row">
                            <div class="col-md-12 contact">
                                <form asp-controller="Comment" asp-action="Add" method="post">
                                    <div class="text">
                                        <input type="hidden" value="@Model.Data.Id" name="ProductId" />
                                        <textarea name="Text" value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
                                        <div class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Submit"><br>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    }
                }
            </div>

             <div class="row">
                <div class="col-md-9 single_left">
                 <div class="container bootstrap snippets bootdey">
                   <div class="col-md-12">
                    <div style="margin-top: -250px;margin-left: 75px;" class="blog-comment">
                    <h3 class="text-success">Comments</h3>
                    <hr/>
                    <ul  class="comments">
                    <li class="clearfix">
                      <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                      <div class="post-comments">
                          <p class="meta">Dec 18, 2014 <a href="#">JohnDoe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Etiam a sapien odio, sit amet
                          </p>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="https://bootdey.com/img/Content/user_2.jpg" class="avatar" alt="">
                      <div class="post-comments">
                          <p class="meta">Dec 19, 2014 <a href="#">JohnDoe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Etiam a sapien odio, sit amet
                          </p>
                      </div>
                    
                     
                    </li>
                    </ul>
                </div>
            </div>
        </div></div></div></div></div>
    </div>
     <div class="main">
      <div class="shop_top">
		<div class="container">
            <div class="row">
                <div style="margin-top: -130px;" class="col-md-9 single_left">
                <h4 class="m_11">Related Products in the same Category</h4>
                <div class="col-md-4 product1">
                    <img src="~/images/s1.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 product1">
                    <img src="~/images/s2.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/images/s3.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    </div>
    </div>
</body>
</html>